.events-container {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 0.8fr 1.2fr; 
  grid-template-rows: 0.1fr 1.4fr; 
  gap: 5px 5px; 
  grid-template-areas: 
    "Dates Filters"
    "Events Map";  
  margin: auto;
  height: 600px;
  width: 90%;
}

.events-date {
  grid-area: Dates;
  margin-left: 30px;
  margin-top: 20px;
}

.events-list {
  grid-area: Events;
  overflow-y: scroll;
  border-style: solid;
  border-color: #44672d;
  border-radius: 20px;
  border-width: 5px;
}

#eventSearch {
  margin-left: 80px;
}

#events-map {
  grid-area: Map;
  border-radius: 10px;
  margin-left: 40px;
}

.event-filter {
  grid-area: Filters;
  margin-left: 100px;
}

#filterAll {
  margin-left:40px;
}

.filter-title {
  margin-left: 30px;
  display:inline;
  width: 50px;
}
.filter-button {
  font-size: 18px;
  background-color: #44672d;
  color: #f4f7e1;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-button:hover {
  background-color: #e1f5f7;
  color: #44672d;
}

.filter-button.active {
  background-color: #bdf2f5;
  border-style: solid;
  border-color: #44672d;
  color: #44672d; /* Change to your desired active button text color */
}

.event {
  margin: 15px;
  padding: 15px;
  position: relative; 
  padding-bottom: 50px;
  font-size: 13px;
  border: 3px solid #7a7878;
  border-radius: 5px;
  background: rgb(223, 241, 223);
  color: #333;
}

.event:hover {
  margin: 15px;
  padding: 15px;
  position: relative; 
  padding-bottom: 50px;
  font-size: 13px;
  border: 3px solid #7a7878;
  border-radius: 5px;
  background: rgb(168, 202, 168);
  color: #333;
  cursor: pointer;
  
}

#event-links {
  position: absolute;
  bottom: 10px; 
}

#eventName {
  font-weight: bold;
  font-size: 16px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  margin-left: 15px;
  margin-bottom: 0px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.create-group-button {
  background-color: #555;
  color: white;
  padding: 4px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 180px;
  }
