#groups-container {
  margin-top: 15px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0px 70px;
  width: 95%;
  margin-left: 30px;
  margin-bottom: 30px;
}

.group-section {
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(164, 164, 164);
  padding: 20px;
  border-width: 5px;
  background: white
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
}

#topics-title, #events-title {
  font-size: 35px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkgreen;
}

#topics-list,
#events-list {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  margin-top: 20px;
}

.group-card {
  padding: 10px;
  background-color: #e0ebce;
  position: relative; 
  padding-bottom: 30px;
  border-radius: 5px;
  height: 200px;
  border: 3px solid gray;
}

.createGroupButton {
  background-color: #555;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 270px;
  font-size: 16px;
}


.user-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fffcfc;
  border: 5px solid #020202;
  border-radius: 5px;
  z-index: 1;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.clickable-username {
  cursor: pointer;
  color: black;
  text-decoration: underline;
}

.clickable-username:hover {
  color: green;
}

.join-button {
  background-color: #696767;
  color: white;
  padding: 5px;
  width: 100px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 80px;
  position: absolute;
  bottom: 10px;
  background-color: #4CAF50; /* Green */
  color: white;
}

/* Add these styles for the "Leave" button */
.leave-button {
  background-color: #FF5733; /* Red */
  color: white;
}