#register-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

#registrationForm, #loginForm {
  margin: 5px;
  padding: 15px;
  border: 3px solid #333;
  border-radius: 5px;
  text-align: center;
  height: 450px;
  background-color: #bdd09e;
  margin-top: 50px;
}

#registrationForm {
  display: grid; 
  place-items: center;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 0.5fr 2.2fr 0.3fr;
  gap: 0px 0px; 
  grid-template-areas: 
    "Title Title"
    "Form Checkboxes"
    "Submit Submit"; 
}
.Title { 
  grid-area: Title; 
  margin: 0px;
}

.Submit { 
  grid-area: Submit; 
  margin-bottom: 20px;
}

.Form { 
  grid-area: Form; 
  margin-bottom:15px;
  float:left;
}

.Checkboxes { 
  grid-area: Checkboxes; 
}

.labelReg{
  float:left;
  text-align: left;
}

#main-register input{
  float:left;
  width:170px;
  margin-bottom:10px;
}

#main-register {
  margin-top: 1px;
}
#interests {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
}

#interests label {
  display: flex;
  align-items: center;
}
#interestsPrompt {
  margin-bottom: 10px;
}

#interests input[type="checkbox"] {
  margin-right: 15px;
}

#registerButton, #loginButton, #resetPasswordButton {
  background-color: #ddd;
  color:#2b4719;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  text-align: center;
  padding: 5px 10px 5px 10px;
}

#loginForm {
  width: 200px;
}

#loginForm input {
  margin-bottom: 10px;
}

.home-container {
  margin: 0 auto;
  padding: 1rem;
  background-color: #f4f7e1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#passwordRequirements, #passwordStrength {
  font-size: 13px;
}

#resetPasswordForm {
  margin-top: 100px;
}