#searchPage {
  display: grid; 
  grid-template-columns: 1.1fr 1.9fr; 
  grid-template-rows: 0.4fr 2fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Filters Filters"
    "Results Map"; 
  margin: auto;
  width: 90%;
}

.volunteer-list {
  grid-area: Results;
  overflow-y: scroll;
  height: 480px;
  border-style: solid;
  border-color: #44672d;
  border-radius: 20px;
  border-width: 5px;
  padding: 20px;
}

.volunteer-list-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 3px solid #7a7878;
  border-radius: 5px;
  background: rgb(223, 241, 223);
  color: #333;
  font-size: 15px;
  cursor: pointer;
}

.volunteer-list-item:hover {
  margin-bottom: 10px;
  padding: 10px;
  border: 3px solid #7a7878;
  border-radius: 5px;
  background: rgb(149, 198, 149);
  color: #333;
  font-size: 15px;
  cursor: pointer;
}

#orgName {
  font-weight: bold;
  font-size: 18px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  margin-left: 15px;
  margin-bottom: 0px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
ul {
  list-style-type: none;
}

#organizations-map {
  grid-area: Map;
  height: 500px;
  width: 80%;
  margin:auto;
  border-radius: 10px;
}

.filters {
  grid-area: Filters;
}

.filter-button {
  font-size: 18px;
  background-color: #607a50;
  color: #f4f7e1;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.filter-button:hover {
  background-color: #e1f5f7;
  color: #44672d;
}

.version-one {
  font-size: 3em;
  color: #44672d;
}

.filter-button.active {
  background-color: #e3f9fa;
  border-style: solid;
  border-color: #44672d;
  color: #44672d;
}

#locationFilter {
  padding: 8px;
  border-style: solid;
  border-color: rgb(24, 79, 28);
  border-radius: 10px;
  border-width: 3px;
  background: #f1f1f1;
}

#organizationSearch {
  margin-right: 120px;
}

#filterAll {
  margin-left: 50px;
}
#organizations-map {
  width: 90%;
  height: 530px;
}

.website-link {
  word-wrap: break-word;
}