/* Global styles (apply to all pages) */

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7e1;
  color: #333;
}

header {
  background-color: #44672d;
  color: #f4f7e1;
  text-align: center;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.two-column-layout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #44672d;
  height: 100vh;
}

.left-column {
  flex: 1;
  padding: 20px;
  text-align: center;
  margin-left: 75px
}

.bold-text {
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  text-transform: uppercase;
  text-align: left;
  font-size: 6em;
  font-weight: bold;
  color: #bdd09e;
}

.right-column {
  height: 700px;
  width: 600px;
  flex: 1;
  background-color: #bdd09e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-right: 80px; /* Adjust the margin as needed */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #e1e7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #44672d;
  color: #f4f7e1;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

nav {
  text-align: center;
  margin: auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  background-color: #44672d;
  overflow: hidden;
  text-align: center;
  border-top: 2px solid #f4f7e1;
  border-bottom: 2px solid #f4f7e1;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  color: #f4f7e1;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-weight: bold;
}

nav ul li a:hover {
  background-color: #f4f7e1;
  color: #44672d;
  border-radius: 5px;
}
.sign-out {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Style the button */
#signOutButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}


main {
  padding: 20px;
}

#searchPage {
  margin: auto;
  width: 70%;
}

#map {
  height: 400px;
  width: 100%;
  border-radius: 10px;
}

/* Styles specific to the index.html page */
#register-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

#registrationForm, #loginForm {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  height: 250px;
  background-color: #bdd09e;
}

#registrationForm {
  display: grid; 
  place-items: center;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 0.5fr 2fr 0.5fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Title Title"
    "Form Checkboxes"
    "Submit Submit"; 
}
.Title { 
  grid-area: Title; 
  margin: 0px;
}

.Submit { 
  grid-area: Submit; 
  margin-bottom: 20px;
}

.Form { 
  grid-area: Form; 
  margin-bottom:15px;
  float:left;
}

.Checkboxes { 
  grid-area: Checkboxes; 
}

.labelReg{
  float:left;
  text-align: left;
  width:100px;
}

#main-register input{
float:left;
width:150px;
margin-bottom:1px;
}

#main-register {
  margin-top: 1px;
}
#interests {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

#interests label {
  display: flex;
  align-items: center;
}
#interestsPrompt {
  margin-bottom: 10px;
}

#interests input[type="checkbox"] {
  margin-right: 15px;
}

#loginForm {
  width: 200px;
  height: 400px;
}

#loginForm input {
  margin-bottom: 10px;
}

.home-container {
  margin: 0 auto;
  padding: 1rem;
  background-color: #f4f7e1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
header img {
  max-width: 300px;
}

#index-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack header and forms vertically */
  color: #2b4719 ;
}

.center-container {
  text-align: center;
}

.version-two {
  /* your styles for the class version-one */
  font-size: 3em;
  color: #21440c;
  max-width: 800px; /* Adjust the maximum width as needed */
}
.version-three {
  text-align: block;
  color: #21440c;
  white-space: pre-line;
  max-width: 10x;
}
.text-container-body {
  max-width: 700px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
  position: relative;
  text-align: center;
}

#groups-list {
  display: flex;
}

.group-card {
  background-color: #bdd09e;
  margin: 20px;
  padding: 20px;
  width: 80%;
  border-radius:1em;
}

#editProfileModal {
  display: none;

}


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 180px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 5px;
  margin: 5px 0 5px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.input-field {
  width: 100%;
  padding: 5px;
  margin: 5px 0 5px 0;
  border: none;
  background: #f1f1f1;
}
.right-align {
  float: right;
  font-size: 20px;
  padding-right: 10px;
  cursor: pointer;
}

.nav-link.active {
  color: #21440c; /* Text color for active tab */
  border-color: #151bb3; /* Border color for active tab */
  background-color: #cbf0f2;
  border-radius: 5px;
}

.group-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}


.volunteer-history {
  margin-top: 30px;
  padding: 20px;
  background-color: #e1e7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#volunteerHistoryTable {
  width: 100%;
  border-collapse: collapse;
}

#volunteerHistoryTable th, #volunteerHistoryTable td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

#addVolunteerActivityButton {
  background-color: #555;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}