/* Global styles (apply to all pages) */

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7e1;
  color: #333;
}

header {
  background-color: #44672d;
  color: #f4f7e1;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #44672d;
  color: #f4f7e1;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

nav {
  text-align: center;
  margin: auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  background-color: #44672d;
  overflow: hidden;
  text-align: center;
  border-top: 2px solid #f4f7e1;
  border-bottom: 2px solid #f4f7e1;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  color: #f4f7e1;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-weight: bold;
}

nav ul li a:hover {
  background-color: #f4f7e1;
  color: #44672d;
  border-radius: 5px;
}

main {
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f4f7e1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#searchPage {
  margin: auto;
  width: 70%;
}

#map {
  height: 400px;
  width: 100%;
  border-radius: 10px;
}

/* Styles specific to the index.html page */

#index-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack header and forms vertically */
  height: 100vh;
  color: #44672d ;
}

.center-container {
  text-align: center;
}

#registrationForm, #loginForm {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  text-align: center;
  background-color: #bdd09e; /* You can adjust the background color */
}

#registrationForm {
  margin-top: 20px; /* Add some spacing between the forms */
  background-color: #bdd09e;
}
header img {
  max-width: 800px; /* Adjust the size of your logo as needed */
}
.version-two {
  /* your styles for the class version-one */
  font-size: 3em;
  color: #21440c;
  max-width: 800px; /* Adjust the maximum width as needed */
}
.version-three {
  text-align: block;
  color: #21440c;
  white-space: pre-line;
  max-width: 10x;
}
.text-container-body {
  max-width: 600px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
  position: relative;
  text-align: center;
}